.cards {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: left;
}
.card {
    
    flex: 1 1 calc(50% - 20px); 
    min-width: 250px; 
    box-sizing: border-box;
    border: 1px solid gray; 
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}
